# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Build or dist folders (if any)
dist/
build/

# Optional: IDE/editor configs
.vscode/
.idea/
